<!DOCTYPE html>
<html>

  <head>
    <title>掲示板 - みんなの投稿</title>
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <header>
      <div class="headerLeft">
        Node.js Bulletin Board
      </div>
      <div class="headerRight">
        <a href="/board">みんなの投稿</a>
        <a href="#">投稿を作成</a>
        <ul class="menu">
            <li class="menu__single">
                <div class="init-bottom"><span><%= username %></span><span class="arrow-pointer">▼</span></div>
                <ul class="menu__second-level">
                    <li><a href="/logout">ログアウト</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </header>

    <main>
      
    </main>

  </body>

</html>
