body {
  margin: 0 auto;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fafafa;
  min-width: 800px;
  padding: 10px;
}

main {
  min-width: 800px;
}

.headerLeft {
  font-size: 18px;
}

.headerRight {
  display: flex;
  width: 400px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #999;
  padding: 0 20px
}

a:hover {
  color: #fafafa;
}

ul.menu {
  width: 100px;
  padding: 0 20px;
  margin: 0;
  text-align: left;
  cursor: pointer;
}

li {
  list-style: none;
}

.init-bottom {
  color: #999;
}

.init-bottom:hover {
  color: #fafafa;
}

.menu > li.menu__single {
  position: relative;
}

.arrow-pointer {
  float: right;
}

.menu__second-level {
  position: absolute;
  left: -200px;
  top: 20px;
  width: 120px;
  padding: 0;
  background-color: #333;
  visibility: hidden;
  opacity: 0;
  transition: top .2s, opacity .2s;
}

li.menu__single:hover ul.menu__second-level {
  top: 25px;
  left: 0px;
  visibility: visible;
  opacity: 1;
}

.registerContainer {
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
  margin: 100px;
}

input[type="text"] {
  height: 20px;
  border: none;
  border-bottom: 1.5px solid #333;
  width: 250px;
}

input[type="email"] {
  height: 20px;
  border: none;
  border-bottom: 1.5px solid #333;
  width: 250px;
}

input[type="password"] {
  height: 20px;
  border: none;
  border-bottom: 1.5px solid #333;
  width: 250px;
}

input[type="submit"] {
  margin: 20px;
  border: none;
  width: 140px;
  padding: 5px;
  border-radius: 15px;
  background-color: #00acff;
  color: #fafafa;
  outline: none;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="email"]:focus {
  outline: 0;
}

input[type="password"]:focus {
  outline: 0;
}

input[type="submit"]:hover {
  background-color: #5bcaff;
}

/* -------------------投稿一覧画面--------------------*/

.viewContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #333;
}

.view {
  display: block;
  align-items: unset;
  height: auto;
  margin: auto;
}

.viewContainer > p.editContainer {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
}

form#editBtn {
  display: inline-block;
  height: auto;
  margin: 0;
  width: 50px;
}

form#deleteBtn {
  display: inline-block;
  height: auto;
  margin: 0;
  width: 50px;
}

/* -------------------投稿作成画面--------------------*/

form#createForm {
  align-items: baseline;
  justify-content: start;
}

#title {
  border: 1px solid rgb(118, 118, 118);
  width: 100%;
  min-width: 420px;
  border-radius: 3px;
}

textarea#textContent {
  width: 100%;
  min-width: 420px;
  height: 120px;
  border-radius: 3px;
}

textarea#textContent:focus {
  outline: 0;
}

input#submitBtn {
  margin: 20px auto;
}
